<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Contact Details</title>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    email:amankhare9295@gmail.com
    <h3>Drop an enquiry??</h3>
    <form action="mailto:amankhare9295@gmail.com" method="post" enctype='text/plain'>
      <label>Name</label>
      <input type="text" name="YourName"value="">
      <br>
      <label>DOB</label>
      <input type="date" name="YourDOB" value="">
      <br>
      <label>Message</label>
      <br>
      <textarea name="Message" rows="10" cols="40"></textarea>
      <br>
      <label>Attachment</label>
      <input type="file" name="File" accept="text/html">
      <br>
      <br>
      <input type="submit" name="" value="Submit">

    </form>
  </body>


</html>
